/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
	background: #212121;
}
nav{
	box-shadow: none;
}
.container{
	width: 90% !important;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.logo{
	width: 10%;
	margin-right:2%;
}
.characters{
	display: flex;
	flex-wrap: wrap;

}
.character-item{
	position: relative;
	width: 25%;
	padding: 0 0.75rem;
}
.character-img, .character-data{
	padding: 0 0.75rem;
}
.character-img {
    height: 230px;
    overflow: hidden;
}
.character-img span{
	float: right;
	width: 45%;
	padding: 2% 0;
	background: green;
	color: #fff;
	text-align: center;
	position: absolute;
    top: 10px;
    right: 23px;    
}
.character-data{
	color: #fff;
	margin-top: -20%;
    margin-left: 3%;
}
