<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Teste Samba Tech</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a href="#" class="left logo"><img class="responsive-img" src="img/breaking-bad-logo.png"></a>
      <ul class="hide-on-med-and-down left">
        <li><a href="#">Personagens</a></li>
        <li><a href="#">Episodios</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Personagens</a></li>
        <li><a href="#">Episodios</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <section class="row">
    <div class="container">
      <div class="characters">
      <!--Template do mustache aqui-->

      </div>
    </div>
  </section>  

<script id="character-template" type="text/template">
  <div class="character-item">
    <div class="character-img">
      <img class="responsive-img" src="{{img}}">
      <span style="background:{{bgstatus}};">{{status}}</span>
    </div>
    <div class="character-data">
      <h4>{{name}}</h4>
      <h6><i class="fas fa-star"></i> {{birthday}}</h6>
      <p>{{occupation}}</p>
    </div>
  </div>
</script>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="js/materialize.js"></script>
  <script src="https://kit.fontawesome.com/c1f71c2d3c.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
